html, body {
	height: 100%;
}

body {
	padding: 0px;
	margin: 0px;	
}

#sky-div {
	background-color: #445569;
	height: 400px;
	width: 100%;

}

#clock-div {
	position: fixed;
	bottom: -45px;
	width: 100%;
	background-color: #F2CA85;

}

.clock-number:hover {
	cursor: hand; 
	cursor: pointer;
}

.clock-number tspan {
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}